.album-wrapper {
    width: 100%;
}

.album {
    padding: 4vh;
    position: relative;
    transition: transform 0.2s;
}

.album:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.album-body {
    background-image: url('/albums/{{ $album->id }}/cover');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 55vh;
    box-shadow: 0 0 11px 0px black;
}

.album-body:hover {
    text-decoration: none;
}

.album-image {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 11px 0px black;
}

.album-info {
    // position: absolute;
    z-index: 4;
    background-color: #970046;
    // top: 0;
    // left: 0;
    background: rgba(214, 40, 57, 0.6);
    margin: 6vh;
    color: white;
}

.album-info-name {
    width: 100%;
    font-family: "Bree Serif", serif;
    font-size: 3rem;
    padding: 2vh;
    line-height: 3rem;
}

.album-info-desc {
    width: 100%;
    padding: 2vh;
}

.album-info-date {
    padding: 2vh;
    width: 100%;
}

.relative {
    .h-5 {
        height: 1em;
        width: 1em;
    }
}
